body {
    background: radial-gradient(at left top, rgba(13, 68, 153, 1.0), rgba(190, 2, 49, 1.0)), rgba(13, 68, 153, 1.0);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  main {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .card-img-top {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px; /* Ajusta el tamaño de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  
  .card {
    background-color: #333;
    color: white;
  }
  
  .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    width: 300px;  /* Ancho fijo para los botones */
    height: auto;
  }
  
  .btn:hover {
    background-color: #555;
    color: white;
  }
  
  .separator {
    border-top: 2px solid #777;
    margin: 0.5rem 0;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

.btn-instagram {
  background-color: #C13584; /* Color sólido de Instagram */
  color: white;
  border: none;
}

.btn-discord {
  background-color: #7289DA; /* Color icónico de Discord */
  color: white;
  border: none;
}

.btn-xbox {
  background-color: #107C10; /* Color icónico de Xbox */
  color: white;
  border: none;
}

.btn-spotify {
  background-color: #1DB954; /* Color icónico de Spotify */
  color: white;
  border: none;
}

.btn-steam {
  background-color: #171A21; /* Color icónico de Steam */
  color: white;
  border: none;
}

.btn-github {
  background-color: #24292e; /* Color icónico de GitHub */
  color: white;
  border: none;
}

.btn-linkedin {
  background-color: #0077B5; /* Color icónico de LinkedIn */
  color: white;
  border: none;
}

.btn-twitch {
  background-color: #9146FF; /* Color icónico de Twitch */
  color: white;
  border: none;
}